body {
    padding-top: 80px; /* Adjust this value based on the height of your fixed navbar */
    background-color: rgb(240, 240, 240);
}

h1, h2, h3 {
    color: #333;
}

pre {
    padding: 10px;
    overflow-x: auto; /* Enable horizontal scrolling */
}